@use '../../../Sass/Colors.scss' as a;
@use '../../../Sass/Fonts.scss' as b;

.productoDiv {
    cursor: pointer;
    background-color: a.$WineLight;
    width: 30%;
    border-radius: 50px;
    box-shadow: 0 4px 6px a.$BlackShadow3;
    transition: transform 0.3s ease;
    .infoProduct {
        margin: 20px;
        img{
            margin-top: 20px;
            width: 80%;
            object-fit: cover;
            background-color: a.$White;
        }
        h2, h6 , h5{
            color: a.$White
        }
        .infoPrice {
            h6 {
                padding-left: 85%;
                color: a.$White
            }
        }
        h4 {
            display: none;
            visibility: hidden;
        }
    }
    &:hover {
        transform: scale(1.03) ;
    }
}