$GreyPink: #eddce2; 
$GreyPinkShadow: #eddce2c5; 
$GreyPink2: #f996b5;
$Pink: #ea567a;
$Pink2: #9e1235;
$Wine: #8e173d;
$WineLight: #a91846;
$Burgundy: #7f2121;
$BurgundyLight: #b02929;
$Burgundy2: rgb(166, 52, 52);
$White: #fff;
$BlackShadow: rgba(0, 0, 0, 0.297);
$BlackShadow2: rgba(0, 0, 0, 0.166);
$BlackShadow3: rgba(0, 0, 0, 0.514);
$WineShadow:#8e173dd0;
$LightGrey: #e6e6e6; 
$Black: #000